.thumbnail {
  width: 300px;
  display: block;
}

.barra-de-pesquisa {
  display: block;
}

.titulo-video {
  width: 300px;
}

.autor-video {
  
}

.status-video {
}

.container-video {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}