.paginacao {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 20px;

  }
  a {
    margin-left: 6px;
    margin-right: 6px;
  }

  .esticar {
    background-color: green;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    transition: padding-right 0.50s,
    padding-bottom 0.50s,
    padding-top 0.50s,
    padding-left 0.50s;
    margin-bottom: 20px;
  }

  .esticar:hover {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sombra {
    background-color: green;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px RGBA(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

  .sombra:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    margin-top: 2px;
    margin-left: 2px;
  }

  .espaco {
    background-color: green;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    transition: padding-right 0.15s,
    padding-left 0.15s,
    margin-left 0.15s,
    margin-right 0.15s

  }

  .espaco:hover {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }
