.sidebar-position {
}

.sidebar {
  display: flex;
  flex-direction: row;
}

.servers {
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;

  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: rgb(45, 45, 45);
}

.server-pictures {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.into-servers {
  position: fixed;
  top: 60px;
  left: 70px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgb(67, 67, 67);
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.text {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.plus {
  font-size: 16px;
  font-weight: bold;
  color: rgb(158, 158, 158);
}

.chat {
  color: rgb(158, 158, 158);
  padding: 12px 0px;
}