.perfil {
  font-family: Arial;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

.salsicha2 {
  object-fit: cover;
  margin: -10px -10px 0px -10px;
  width: 200px;
  height: 200px;
  object-position: 40%;
}

.bebop {
  object-fit: cover;
  margin: -10px -10px 0px -10px;
  width: 200px;
  height: 200px;
}

.caramelo {
  object-fit: cover;
  margin: -10px -10px 0px -10px;
  width: 200px;
  height: 200px;
  object-position: 50%;
}

.usuario {
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.container-amigos-comuns {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 10px;
  align-items: center;
}

.amigo-comum {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
}

.conexoes {
  color: rgb(95, 94, 94);
}

.adicionar {
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.barra-adicionar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}