p {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 30px;
}

.item1 {
  background-color: black;
  color: white;
}

.label1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  width: 100px;
}

.label2 {
  background-color: lightblue;
  width: 200px;
}

/* -- */

.container2 {
  display: flex;
  height: 50px;
}

.label1-1 {
  width: 100px;
  background-color: lightpink;
}

.label2-1 {
  display: flex;
  justify-content: space-between;
  width: 200px;
  background-color: lightblue;
}

.column {
  display: flex;
  flex-direction: column;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row2 {
  background-color: black;
  color: white;
}

