p {
  margin: 0px;
  font-family: Arial;
}

button {
  font-family: Arial;
}

body {
  background-color: rgb(112, 56, 56);
  padding-top: 50px;
}

.popup-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  height: 40px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}

.profile-picture {
  display: flex;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.user {
  padding-left: 10px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-right: 40px;
}

.adicionar {
  background-color: rgb(0, 119, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.mensagem {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}