h1 {
  font-family: Montserrat;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: Montserrat;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titulo {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
}

.subtitulo {
  font-size: 15px;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  cursor: pointer;
}

