p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.novo {
  color: rgb(255, 136, 0);
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.produto {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.subtitulo-produto {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.preco {
 font-size: 12px;
 margin-bottom: 8px;
 text-align: center;
}

.compra {
  font-family: Arial;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 16px;
  border: none;
  background-color: rgb(0, 108, 196);
  color: white;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
}

.perfil {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.perfil-reduzido {
  color: rgb(96, 96, 96);
  font-weight: lighter;
}

.comentario {
  font-size: 12px;
  margin-bottom: 8px;
  width: 400px;
  margin-bottom: 20px;
}

.link-perfil {
  color: rgb(0, 174, 255);
}

.acao {
  font-size: 20px;
  margin-bottom: 5px;
}

.moeda {
  color: gray;
  font-size: 12px;
}

.valorizacao-hoje {
  font-size: 10px;
  color: green;
  margin-bottom: 5px;
}

.horas-atras {
  font-size: 10px;
  color: gray;
}

.desvalorizacao {
  color: red;
}
