.fonte-tahoma {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  font-family: Verdana;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titulo-html {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}

.texto-apoio {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 15px;
}

.descricao {
  font-size: 14px;
  margin-bottom: 15px;
  width: 250px;
}

.botao-comecar {
  color: white;
  background-color: green;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.titulo-ofertas {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitulo-ofertas {
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  color: red;
  margin-bottom: 20px;
}

.titulo-vendas {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitulo-vendas {
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 90px;
}

.link-faq {
  font-size: 12px;
  color: rgb(0, 119, 255);
  margin-left: 150px;
}

.link-faq:hover {
  text-decoration: underline;
}