p {
  font-family: Roboto, Arial; /* A segunda fonte que coloquei é uma fonte de emergencia que serve para que por quaisquer razões a primeira fonte não funcione a segunda será usada para substituir*/
  margin: 0px 0px 0px 0px;
}

body {
  margin: 0;
}