.container-thumbnail {
  margin: 0px 0px 12px 0px;
}

.thumbnail {
  width: 100%;
}

.grid-info-canal {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.container-foto-canal {

}

.foto-canal {
  width: 40px;
  border-radius: 100%;
}


.titulo-video {
  margin: 0px 0px 12px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}

.autor-video {
  margin-bottom: 4px;
}

.autor-video, 
.status-video {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.grid-video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}