p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
  }

  .video-title {
   font-weight: bold;
   font-size: 18px;
   width: 280px; /* Não é recomendado na maioria dos casos mas nesse é exatamente o que a gente quer */
   line-height: 24px; /* Espaçamento entre linhas do texto */
   margin-bottom: 5px;
  }

  .video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
  }

  .video-author {
    margin-bottom: 20px;
    font-family: Arial;
    color: rgb(96, 96, 96);
  }

  .video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 300px;
    line-height: 22px;
    margin-bottom: 100px;
  }

  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .shop-link {
    cursor: pointer;
  }

  .shop-link:hover {
    text-decoration: underline;
  }